@page "/"

<PageTitle>Edit Images POC</PageTitle>
<h1>Edit Images POC</h1>

<InputFile OnChange="OnImageSelected" accept="image/*" />

<div>
    <canvas id="imageCanvas" width="400" height="300"
            style="border:1px solid #ccc; cursor: crosshair;"
            @onclick="OnCanvasClick"></canvas>
</div>

<br />

<button class="btn btn-primary mt-2" @onclick="ShowInput">Add Text</button>
<button class="btn btn-warning mt-2" @onclick="StartRectangle">Rectangle</button>
<button class="btn btn-success mt-2" @onclick="StartCircle">Circle</button>
<button class="btn btn-danger mt-2" @onclick="ClearCanvas">Clean</button>
<button class="btn btn-info mt-2" @onclick="SaveImage">Save</button>

@if (showTextInput)
{
    <div style="margin-top: 10px;">
        <input @bind="inputText" placeholder="Enter text..." />
        <button class="btn btn-success" @onclick="AddText">OK</button>
        <button class="btn btn-danger" @onclick="Cancel">Cancel</button>
    </div>
}

